<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <% if product.images.present? %>
          <%= link_to (image_tag product.images.first, class: 'image', style: "width: 300px; height: 300px"), product %>
        <% else %>
          <%= link_to (image_tag "http://via.placeholder.com/300", class: 'image', style: "width: 300px; height: 300px"), product %>
        <% end %>
      </div>
      <h4 style="color: white" ><%= product.title %></h4>
    </div>
  <% end %>
</div>
